$garamond: "garamond-premier-pro-display";
$minion: "minion-pro";

body {
  font-family: $minion;
  h1 {
    font-family: $garamond;
  }
  h2 {
    font-family: $garamond;
  }
}

img.typekit-badge {
  display: none !important;
}